@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


@layer base {
    html, body {
        overflow-x: hidden;
        font-family: 'Open Sans', sans-serif;
        @apply antialiased
    }
}

.container {
    width: 66.6%;
}

.flag-country > button {
    @apply h-14 border-2 border-gray-200 hover:border-brand-color rounded-lg transition-colors
}

.flag-country button > span >span {
    font-size: 14px;
    padding-left: 8px;
}